@import 'vars';

#start-game-canvas {
    width: 100%;
    height: 400px;
}

#below-game {
    border-top: 1px solid rgba(182, 182, 182, 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#posts-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 400px;
    min-height: 700px;

    h1 {
        margin: 20px;
    }
}

.feature-post {
    position: relative;
    width: 400px;
    height: 270px;
    margin: 20px;
    overflow: hidden;
    border: 1px solid rgba(182, 182, 182, 0.3);
    border-radius: 10px;

    &:hover {
        box-shadow: 10px 10px 10px 1px rgba(218, 218, 218, 0.2);
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .post-title-container {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: $white;

        span {
            width: 95%;
            margin-bottom: 10px;
            color: $grey;
            font-weight: bold;
            font-size: 14px;
            // break words on line end
            word-break: break-word;
            // hide overflow, limit to 2 lines
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }
}

// // make things appear over background image
// .inside {
//     position: relative;
// }
// #posts-list::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-image: url('/images/berserker.png');
//     background-position: right top;
//     background-size: cover;
//     filter: brightness(100%) contrast(130%) grayscale(80%) invert(0%) saturate(200%) opacity(100%);
// }