$opensans: 'Open Sans', sans-serif;
$grey: #1d1d1d;
$white: #ffffff;

.whitemode {
    color: $grey;
    background-color: $white;
}

.darkmode {
    color: $white;
    background-color: $grey;
}

#headline-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 60px;
        font-weight: bold;
        margin: 40px;
    }
}


