<link rel="stylesheet" href="scss/header.scss">
<div id="top-bar" class="whitemode">
    <div id="top-bar-left">
        <a href="/">Redstonerayy</a>
        <nav id="nav" class="nav justify-content-center">
            {{ foreach site.menu }}
            <a class="nav-link" href="{{ url }}">
                {{ name }}
            </a>
            {{ end }}
        </nav>
    </div>
    <div id="top-bar-right">
        <a href="https://github.com/Redstonerayy" target="_blank">
            Github
            <img src="/images/newtab.webp" alt="Open in New Tab">
        </a>
        <div>
            <img src="/images/moonfilled.svg" style="display: none" alt="Darkmode">
            <img src="/images/sunnofill.svg" style="display: none" alt="Lightmode">
        </div>
    </div>
</div>